@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white antialiased;
    font-feature-settings: "salt" on, "ss01" on, "ss02" on;
  }
}

::selection {
  @apply bg-white text-black;
}

.cursor {
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  mix-blend-mode: difference;
}

@font-face {
  font-family: 'Lineal-Medium';
  src: url('./fonts/Lineal-Medium.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Lineal-Medium', sans-serif;
}